@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* ---------------------------- Colours */

.bg-color-title {
    background-color: #ff944d;
}


/* ------------------------- Heading  */

nav {
    height: 65px;
    background-color: #0000005e;
}

article {
    display: block;
}

.logo {
    background: url("../images/orange-logo.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 45px;
    margin-right: 20px;
}

.title {
    text-align: center;
    font-family: "Lobster", cursive;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 0;
    color: #fff;
}

.bars {
    font-size: 35px;
    color: #fff;
}

.text-uppercase {
    text-transform: uppercase;
}