@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: "Exo", sans-serif;
    font-size: 130%;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.navbar {
    margin-bottom: 0;
    padding: 8px 20px;
    width: 100%;
    background-color: rgba(6, 104, 2, 0.75);
    z-index: 1;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.title {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: orange;
}

.title:hover {
    color: rgb(241, 196, 111);
    text-decoration: none;
}

/* Full width background image code snippet taken from https://css-tricks.com/perfect-full-page-background-image/ */
.callout-container {
    height: 90vh;
    background: url("../images/Oranges.jpg") no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.jumbotron {
    font-family: "Exo", sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
}

.jumbotron p {

    color: white;
    margin-bottom: 30px;
    font-weight: 300;
}

.jumbotron h3 {
    color:  rgba(81, 226, 76, 0.75);
    margin-bottom: 30px;
}

.jumbotron-header {
    color: orange;
    font-weight: bold;
    margin-bottom: 30px;
}

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0px;
    text-align: center;
}

.orange-logo {
    max-width: 250px;
    max-height: 250px;
    padding: 25px 0;
}

.page-header h2 {
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 10px;
}

.order-header {
    text-align: center;
    padding-bottom: 10px;
}

.how-container {
    padding-top: 45px;
}

.content-container {
    padding: 60px 15px;
}

.about-us {
    padding-left: 10%;
    padding-right: 10%;
}

.offer-section {
    padding-top: 10px;
    padding-bottom: 0;
}

.offer {
    padding: 5px 10px;
    margin: 30px 0;
    border: 5px solid orange;
    box-shadow: 1.1px 1.7px 2px 0px rgba(179, 67, 2, 0.2);
    background-color: rgba(192, 240, 192, 0.274);
}

.offer-image img {
    padding: 5px 5px;
    position: relative;
    display: inline-block;
    left: 35%;
    transform: translate(-50%);
    transform: translateY(-40%);
}

.offer-body {
    transform: translateY(-20%);
}

.offer-body p {
    font-size: 80%;
}

.delivery {
    padding-left: 10%;
    padding-right: 10%;
}

.guarantee {
    margin: 30px 0;
}

.list-style {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
}

.list-style li {
    font-size: large;
    line-height: 150%;
    margin-top: 10px;
}

.yellow {
    color: rgb(185, 185, 6);
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.btn-order {
    font-size: xx-large;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.btn-try {
    padding: 25px 50px;
    font-size: larger;
}

.media {
    padding-top: 15px;
}

.blockquote {
    padding-bottom: 15px;
}

#contact-us {
    padding-bottom: 10px;
}

/* Footer */

footer {
    background-color: rgba(6, 104, 2, 0.75);
    color: rgba(255, 255, 255, .5);
    min-height: 120px;
    margin: 0;
    text-align: center;
}

.social-links {
    padding-bottom: 15px;
}

.nav-link {
    color: orange;
}

.nav-link:hover {
    color: rgb(241, 196, 111);
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.social-links li a i:hover {
    background: orange;
}

#footer-details {
    padding: 20px;
}